h1{
	font-family: 'Arial',Arial,sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	float: center;
}
p{
	font-family: 'Arial',Arial,sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	float: left;
}